<% # Este es el mail para cambiar la contraseña usado al momento de registrarse %>

<p>Hello <%= @resource.email %>!</p>

<p>Puedes crear o cambiar tu contraseña en el siguiente link</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
